doctype html
head
    title Let's Train! - Rob-BOT
    link(rel='stylesheet' href='../css/user-train.css')
body
    // Display Random Song  Info
    -if (index < 20)

        h1 Let's Train

        //- Condition for when 20

        #song-info
            h1#song-name= randomTrackInfo[index].name
            hr
            h3 Artists:
            - var artistsNames;
            each artist in randomTrackInfo[index].artists
                h3= artist.name
            hr
            h3 Album:
            h3#album-name= randomTrackInfo[index].album.name
            hr
        // Allow User To Listen
        #song-playback
            iframe(src="https://open.spotify.com/embed?uri=spotify:track:" + randomTrackInfo[index].id, width="600", height="80", frameborder="0", allowtransparency="true", allow="encrypted-media")

        hr

        h1 Do you like this song?

        #song-rating
            // Update trainer
            button(type='button', onclick="submitRating('" + index + "','" + JSON.stringify(audioInfo) + "','" + 1 + "')") LIKE
            button(type='button', onclick="submitRating('" + index + "','" + JSON.stringify(audioInfo) + "','" + 0 + "')") DISLIKE

    -else 
        h1 Thanks for the data!
        h1 Let's go listen to some music!

        form(action="playlist")
            input(type="submit" value="Let's Go!") 
    script(src='../js/train.js')