node_modules/
.env
/.vscode

pain4.txt
artistIDList.txt
outputs/topSongs.txt
formattedJSON.txt
spotipy_start/audioInfo.txt
spotipy_start/topSongsJSON.txt
spotipy_start/timeoutSearch.txt
spotipy_start/artistIDListTimeout.txt
spotipy_start/topSongsJSONTimeout.txt
spotipy_start/audioFeaturesTimeout.txt
spotipy_start/songIDListTimeout.txt
spotipy_start/lyricData.txt
spotipy_start/lyricDataOld.txt
spotipy_start/audioFeaturesTimeout2.txt
spotipy_start/songIDListTimeout2.txt
spotipy_start/timeoutSearch2.txt
spotipy_start/topSongsJSONTimeout2.txt
spotipy_start/artistIDListold.txt
spotipy_start/artistIDListTimeoutold.txt
spotipy_start/audioFeaturesold.txt
spotipy_start/audioFeaturesTimeout2old.txt
spotipy_start/audioFeaturesTimeoutold.txt
spotipy_start/audioInfoold.txt
spotipy_start/lyricDataold (2).txt
spotipy_start/output.txt
spotipy_start/output.txt
spotipy_start/outputold.txt
spotipy_start/songIDListold.txt
spotipy_start/timeoutSearchold.txt
spotipy_start/topSongsJSONold.txt
