node_modules/
pain4.txt
artistIDList.txt
outputs/topSongs.txt
formattedJSON.txt
spotipy_start/audioInfo.txt
spotipy_start/songIDList.txt
spotipy_start/topSongsJSON.txt
spotipy_start/timeoutSearch.txt
spotipy_start/artistIDListTimeout.txt
spotipy_start/topSongsJSONTimeout.txt
spotipy_start/audioFeatures.txt
spotipy_start/audioFeaturesTimeout.txt
spotipy_start/songIDListTimeout.txt
spotipy_start/lyricData.txt
spotipy_start/lyricDataOld.txt
