doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge') 
        meta(name='viewport', content="width=device-width", initial-scale=1)

        title Let's Listen! - Rob-BOT

        link(rel='stylesheet', type='text/css', href='../css/main.css')
    body
        - var currentSong = randomTrackInfo[0]

        div#left-sidebar
            div#current-playlist
                each track in randomTrackInfo
                    //- - console.log(track);
                    div.playlist-song
                        p(onclick="setCurrentSong('" + JSON.stringify(track) + "')")= track.name

        div#main-content
            div
                div#current-song
                    h1#curr-name= currentSong.name
                    each artist in currentSong.artists
                        h3.artists= artist.name
                    h3#curr-album= currentSong.album.name
                    image#album-art(src=currentSong.album.images[1].url)
                div#artist-tab
                div#album-tab

            div#song-controls
                iframe#song-src(src="https://open.spotify.com/embed?uri=spotify:track:" + currentSong.id, width="600", height="80", frameborder="0", allowtransparency="true", allow="encrypted-media")
