<!DOCTYPE html>
<html>
    <head>
        <title>Let's Train! - Rob-BOT</title>

        <link rel="stylesheet" href="../css/user-train.css"/>

        <script src="https://unpkg.com/brain.js@1.1.2/browser"></script>
    </head>
    <body>
        
        <!-- Display Random Song  Info -->
        <div id="song-info">
            <h1 id="song-name"></h1>
            <h3 id="artist-name"></h3>
            <h3 id="album-name"></h3>
        </div>

        <!-- Allow User To Listen -->
        <div id="song-playback">

        </div>

        <!-- Rate Like or Dislike -->
        <div id="song-rating">
            <!-- Update trainer -->
            <script>
                // train.js
                updateNetwork(songInfo, rating);
            </script>
        </div>

    </body>
</html>