body {
    height: 100%;
    width: 100%;
}

h1, h3, span, p {
    text-align: center;
    color: white;
}

#tabs {
    margin-top: 30px;
    margin-bottom: 30px;
}

#main-content {
    position: absolute;
    float: left;
    height: 100%;
    width: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #dc3545, darkslateblue);
}

#left-sidebar {
    position: absolute;
    float: left;
    height: 100%;
    width: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #004085, #181818);;
    overflow: scroll;
}

#artist-tab, #album-tab {
    visibility: hidden;
}

#song-controls {
    height: 80px;
    width: 600px;
    margin: auto;
    margin-top: 50px;
}

.playlist-song {
    border: 2px solid white;
    
}

.playlist-song:hover {
    background: #787878;
    cursor: pointer;
}

#like-button {
    float: left;
    margin-left: 10px;
}

#dislike-button {
    float: right;
    margin-right: 10px;
}

#like-dislike {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

#train-more {
    top: 0;
    right:0;
    position: fixed;
}