body {
    height: 100%;
    width: 100%;
    background: black;
}

h1, h3, span {
    text-align: center;
    color: white;
}

#song-rating {
    text-align: center
}

iframe {
    display: block;
    margin: auto;
}

hr {
    width: 70%;
}